<div class="module">
  <div class="module_header">
    Chat history
    <span class="right controls">
      <%= link_to "Chat box", chat_messages_path if can? :create, Message%>
    </span>
  </div>
  
  <div id="footer"> 
    <ul id="chat">
      <% @messages.each_with_index do |message, i| %>
        <% li_class = i%2==0 ? "even" : "odd" %>
        <li class=<%=li_class %>>
          <strong><%=message.user.username %></strong> <br />
          <%=message.body %> —<%=(message.created_at + 8.hours).strftime("%H:%M %D")%>
        </li>
      <% end %>
    </ul>
  </div>
  <%= will_paginate @messages %>  
</div>
