<div class="module" style="padding:15px 25px 0px 25px;">
  <div style="float:left; width:50%; height:330px; padding-right:10px;">
    <h1>Welcome to Forum Monster</h1>
    <p>Forum Monster is a simple forum generator written in rails 3. The goal of Forum Monster, is to provide a simple, and easy to setup forum application without having to dictate how your site it setup.</p>
    <p style="font-size:1.2em;"><strong>The email field is required, but none of the data is saved for more than a day. Feel free to put in a fake address.</strong></p>
  </div>
  <div style="float:right; width:45%; padding-left:30px; border-left:1px solid #e2e2e2;">
    <%= form_for("user", :as => resource_name, :url => registration_path("user")) do |f| %>
      <p>
        Username: <br />
        <%= f.text_field :username, :style => "font-size:2.2em", :autocomplete => "off" %><br />
      </p>
      <p>
        Email Address: <br />
        <%= f.text_field :email, :style => "font-size:2.2em", :autocomplete => "off" %><br />
      </p>
      <p>
        Password:<br />
        <%= f.password_field :password, :style => "font-size:2.2em", :autocomplete => "off" %><br />
      </p>
      <p>
        Confirm Password:<br />
        <%= f.password_field :password_confirmation, :style => "font-size:2.2em", :autocomplete => "off" %><br />
      </p>
      <p><%= f.submit "Sign up" %></p>
    <% end %>
  </div>
  <div class="clear"></div>
</div>